body {
    background:rgba(200,200,200,0.5);
}

form {
    background: rgba(200,200,200,0.6);
    padding: 3.25em;
    border-radius:0.625em;
    width:60%;
    height:25em;
    position: relative;
    margin:auto;
    margin-top:5%;
}

p,#delete {
    color:dimgray;
    overflow: hidden;
}


input,select,button {
    float:right;
    margin-right:25%;
}
label {
    margin-left: 15%;
    font-family: Garamond;
}

input,select {
    border:1px solid grey;
    border-radius:0.625em;
    padding: 0.3em;
}

button {
    background-color: #EFEFEF;
    border-radius:0.45em;
    padding: 0.15em;
}
#delete{
    text-decoration: none;
    margin-left:15%;
}